@import url('https://fonts.googleapis.com/css2?family=Trispace&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@1,200&display=swap');

body {
    background-color: rgb(205, 199, 231); 
    text-align: center;
}

h1{
    font-family: 'Trispace', serif;
    font-size: 50px;
    margin: 50px;
}

#one{
    font-size: 1.5rem;
    font-family: 'Raleyway', serif;
    margin-bottom: 3rem;
    margin-top: 1rem;
    margin-left: 3rem;
    margin-right: 3rem;
}

img{
    width: 15vw;
    height: 30vh;
    object-fit: cover;
}

h2{
    font-family: 'Trispace', serif;
    font-size: 1.7rem;
    margin-top: 1rem;
}

h4{
    font-size: 1rem;
    font-family: 'Raleway', serif;
}

.signs{
    margin: 1rem auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 75vw;
    align-items: center;
}

.card{
    height: 55vh;
    width: 23%;
    margin-right: 0.6rem;
    margin-left: 0.6rem;
    margin-bottom: 1rem;
    margin-top: 1rem;
    background-color: rgba(134, 85, 224, 0.3);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    box-shadow: 9px 10px rgba(41, 11, 124, 0.3);
    border-radius: 10px;
}
    
.card:hover {
    background-color: rgb(146, 140, 177);
    transform: scale(1.2);
    transition: 0.5s;
}

img:hover {
    transform: scale(0.5);
    transition: 0.5s;
}

h2:hover {
    transform: translateY(-15px);
    transition: 1s;
}


#one:hover{
    transform: skew(30deg);
    transition: 0.8s;
}

h4:hover {
    background-color: rgb(170, 130, 185);
}

@media screen and (max-width: 600px) {
    .card {
        width: 100%;
    }
}

@media screen and (max-width: 900px) {
    .card {
        width: 100%;
    }
    img {
        width: 55vw;
    }
}

.header {
position: relative;
animation: move 8s infinite;
}

@keyframes move {
    0%{
    right: -15%; 
    }

    50%{
    right: 15%;
    }


    100%{
   right: 0%;
    }

}

